# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.pytest_cache/*
.mypy_cache/
.pytype/
.python-version
.env
.venv/
venv/
env/
ENV/
pip-wheel-metadata/
dist/
build/
*.egg-info/
*.egg
*.db
*.sqlite3
*.sqlite
*.log
.coverage
mlruns/
*.mo
*.pot

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# OS
desktop.ini

# Docker

# Additional local files
*.env*
